/* подключение шрифтов START  */
@font-face {
	font-family: "OpenSans";
	src: 
		url("../fonts/OpenSans-Regular.woff2") format("woff2"),
		url("../fonts/OpenSans-Regular.woff") format("woff"),
		url("../fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: 
		url("../fonts/OpenSans-Bold.woff2") format("woff2"),
		url("../fonts/OpenSans-Bold.woff") format("woff"),
		url("../fonts/OpenSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
/* подключение шрифтов END  */

/* сброс стилей по умолчанию START */
html, body, div, span, h1, h2, h3, p, a, address, 
img, sub, sup, ol, ul, li, form, label, article, 
aside,figure, figcaption, footer, header, menu, 
nav, section, time {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, figcaption, figure, footer, 
header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

*, *::after, *::before{
	box-sizing: inherit;
}
/* сброс стилей по умолчанию END */

/* общие стили для проекта START */
html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	color: #0f0d0e;
	min-width: 360px;
}

.wrapper {
	box-sizing: border-box;
	max-width: 1200px;
	min-width: 320px;
	padding: 0 15px 0;
	margin: 0 auto;
}
/* общие стили для проекта END */

/* стили для head START */
.header {
	position: relative;
 	margin: 0 auto;
	width: 100%;
	min-height: 452px;
	background-image: url("../images/banner-bg.jpg");
      /*  Для растягивания картинки при увеличении контента в заголовке можно разрешить повторение по высоте - тут repeat-y;*/
	background-repeat: no-repeat; 
	background-position: center top;
     /* Для растягивания картинки при увеличении контента в заголовке выбрал этот вариантbackground-size: cover;*/ 
  background-size: cover;
	background-color: #43625c;
	z-index: 1;
}

.header::before {
	position: absolute;
	content: "";
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
	background-color: rgba(0, 0 , 0, 0.6);
	z-index: -1;
}  

.header-container {
	display: flex;
	justify-content: space-between;
}

.logo-image {
	margin: 30px 0 0 3px;
	width: 179px;
}

.header-menu {
	margin-top: 43px;
}

.menu-list {
	display: flex;
	column-gap: 35px;
}

.menu-item {
	list-style-type: none;
}

.menu-item-link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
	color: #ffffff;
}

.menu-item:hover {
	text-decoration: underline;
}

.container-menu-burger {
	width: 30px;
	height: 30px;
}

.menu-burger,
[for=burger] {
	display: none;
}

.menu-burger:checked + .burger-label + .header-menu {
	display: block;
}

.header-title {
	max-width: 687px;
	margin: 103px auto 0 auto;
	text-align: center;
	font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
	font-weight: bold;
	font-style: normal;
	color: #ffffff;
	font-size: 45px;
	line-height: 1.67;
	text-transform: uppercase;
} 
/* стили для head END */

/* стили для main START */
.main-block {
	margin-top: 4px;
	margin-bottom: 63px;
	display: flex;
	justify-content: flex-start;
	column-gap: 118px;
}

/* -- стили для блока "сейчас в тренде" START -- */

.main-now-trending {
	min-height: 308px;
	
}

.now-trending-title {
	margin-top: 56px;
	margin-bottom: 28px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 29.15px;
	text-transform: uppercase;	
}

.now-trending-title:after {
	content: "";
	display: block;
	margin: 7px auto 0 auto;
	width: 67px;
	border-bottom: 3px solid rgba(181, 159, 91, 0.4);
}

.new-trending-posts {
	display: flex;
	height: 100%;
	column-gap: 7px;
	-moz-column-gap: 7px;
	-webkit-column-gap: 7px;
}

.new-trending-post-border {
	margin: 0px -5px -2px -5px;
	border: 3px solid rgba(181, 159, 91, 0.6);
	z-index: 1;
}

.new-trending-post {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-basis: 25%;
	flex-shrink: 1;
	position: relative;
	min-height: 320px;
	padding: 15px 25px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #eff6f1;
}

.new-trending-post::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color: #000000;
	opacity: 0.6;*/
	background-color: rgba(0, 0 , 0, 0.6);
	z-index: 0;
}

.first-trend {
	background-image: url("../images/trend1.jpg");
}

.second-trend {
	background-image: url("../images/trend2.jpg");
}

.third-trend {
	background-image: url("../images/trend3.jpg");
}

.fourth-trend {
	background-image: url("../images/trend4.jpg");
}

.new-trending-post-tags-title {
	padding: 35px 33px;
	/*border: 3px solid rgba(181, 159, 91, 0.6);
	z-index: 1;*/
}

.new-trending-post-tag {
	font-size: 14px;
	font-weight: bold;
/*	line-height: 40px; */
	text-transform: uppercase;
	color: #b59f5b;
	padding-right: 16px; /* раздвижение слов в тегах блока "Тренды"*/
}

.new-trending-post-tag:hover {
	text-decoration: underline;
}

.new-trending-post-title-link {
	display: block;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

.new-trending-post-title-link:hover {
	color: #b59f5b;
}


/* -- стили для блока "сейчас в тренде" END -- */

    /* -- стили для левой колонки START	main-posts -- */
.main-post-container {
	margin-top: 60px;
	display: flex;
	flex-basis: 778px;
	column-gap: 30px;
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
}

.post-image {
	width: 381px;
	min-height: 294px;
	object-fit: contain;
   	background-color: #eff6f1;
}

.post-wrapper {
	max-width: 370px;
}

.post-tags {
	margin-right: 16px;
	vertical-align: top;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #b59f5b;
}

.post-tags:hover {
	color: #b59f5b;
	text-decoration: underline;
}

.post-title {
	margin-top: 7px;
	max-width: 335px;
}

.post-title-link {	
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	color: #0f0d0e;
}

.post-title-link:hover {
	color: #b59f5b;
}

.post-time {
	display: block;
	margin-top: 16px;
	font-size: 12px;
	line-height: 40px;
	font-weight: 400;
	color: #888888;
}

.post-author {
	margin-left: 9px;
	color: #000000;
	font-weight: bold;
}

.post-text {
	margin-top: 34px;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.46;
	color: #0f0d0e;
}
		/* этот класс введен для соответствия макету.
		Предполагаю, что тут надо пообщаться с дизайнером,
		чтобы решить вопрос с несоответствием промежутков 
		между строками в одном текте поста. */

.necessary-interval-after {
	display: inline-block;
	margin-top: 9px;
}
    /* -- стили для левой колонки END .main-posts -- */

		/* -- стили для правой колонки START .main-additional-info -- */
.main-additional-info {
	margin-top: 50px;
	flex-basis: 270px;
}

.main-additional-info-new-posts {
	margin-bottom: 58px;
}
		
.main-additional-info-title {
	text-align: center;
	margin:0 auto 28px 6px;
	font-weight: bold;
	font-size: 14px;
	line-height: 29.15px;
	text-transform: uppercase;
	color: #0f0d0e;
}

.main-additional-info-title::after {
	content: "";
	display: block;
	margin: 6px auto 0 auto;
	width: 67px;
	border-bottom: 3px solid rgba(181, 159, 91, 0.4);
}

.additional-info-new-post {
	margin-bottom: 22px;
	display: flex;
	column-gap: 19px;
	-moz-column-gap: 19px;
	-webkit-column-gap: 19px;
}

.new-post-image {
	width: 70px;
	height: 70px;
	object-fit: contain;
  background-color: #cecece;
}

.new-post-date {
	display: block;
	font-size: 12px;
	font-weight: normal;
	text-transform: lowercase;
	color: rgba(0, 0, 0, 0.54);
}

.new-post-title-text {
	margin-top: 3px;
}

.new-post-title-link {
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

.new-post-title-link:hover {
	color: #b59f5b;
}

.additional-info-search {
	margin-bottom: 54px;
}

.form-search {
	position: relative;
	max-width: 223px;
	min-width: 90px;
}

.field-search {
	width: 100%;
	min-height: 20px;
	height: 48px;
	padding-left: 19px;
	background-color: #f3f7f5;
	outline: none;
	border: unset;
}

.field-search:focus {
	border: 1px solid #b59f5b;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0 0 0 0 );
}

.search-button {
	position: absolute;
	top: 0;
	right: -48px;
	width: 48px;
	height: 48px;
	border: unset;
	background-color: #b59f5b;
	background-image: url("../svg/search.svg");
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: center center;
	font-size: 3px; /* для уменьшения контура обводки поля при 
						переходе на это поле по "Tab" на странице */
}

.search-button:hover {
	background-color: #323232;
}
.additional-info-mailing {
	margin-bottom: 50px;
}

.additional-info-mailing-title {
	text-align: center;
	margin-right: 6px;
	margin-bottom: 22px;
	font-size: 14px;
	line-height: 29.15px;
	font-weight: bold;
	color: #0f0d0e;
	text-transform: uppercase;
}

.additional-info-mailing-title::after {
	content: "";
	display: block;
	margin: 4px auto 0 auto;
	width: 67px;
	border-bottom: 3px solid rgba(181, 159, 91, 0.4);
}

.mailing-field {
	padding-left: 18px;
	margin-bottom: 17px;
	width: 100%;
	height: 50px;
	border: unset;
	outline: unset;
	background-color: #f3f7f5;
}

.mailing-field:focus {	
	border: 1px solid #b59f5b;
}

.mailing-button {
	width: 100%;
	height: 50px;
	font-size: 14px;
	font-weight: 700;
	line-height: 40px;
	color: #ffffff;
	border: unset;
	outline: unset;
	background-color: #b59f5b;
	text-transform: uppercase;
}

.mailing-button:hover {
	background-color: #323232;
}

.additional-info-tags {
	margin-bottom: 59px;
}

.additional-info-tags-title {
	margin-bottom: 24px;
	text-align: center;
	font-size: 14px;
	line-height: 29.15px;
	font-weight: bold;
	color: #0f0d0e;
	text-transform: uppercase;
}

.additional-info-tags-title::after {
	content: "";
	display: block;
	margin: 5px auto 0 auto;
	width: 67px;
	border-bottom: 3px solid rgba(181, 159, 91, 0.4);
}

.additional-info-tags-container {
	display: flex;
	flex-wrap: wrap;
	column-gap: 8px;
	-moz-column-gap: 8px;
	-webkit-column-gap: 8px;
	row-gap: 4px;	
}

.tag-item {
	padding: 8px 13px 5px;
	border: 3px solid #eeeeee;
	font-size: 12px;
	font-weight: bold;
	color: #0f0d0e;
	text-transform: uppercase;
}

.tag-link {	
	text-decoration: none;
  	color: inherit;
}

.tag-item:hover {
	color: #0f0d0e;
	border: 3px solid #b59f5b;
}

.additional-info-themes-title {
	margin: 0 auto 23px 5px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #0f0d0e;
	text-transform: uppercase;
}

.additional-info-themes-title::after {
	content: "";
	display: block;
	margin: 12px auto 0 auto;
	width: 67px;
	border-bottom: 3px solid rgba(181, 159, 91, 0.4);
}
		
.additional-info-themes-container {
	display: flex;
	flex-direction: column;
	row-gap: 17px;	
}

.theme-item {
	padding-bottom: 11px;
	border-bottom: 1px solid #eeeeee ;
	font-size: 14px;
	font-weight: bold;
	color: #0f0d0e;
}

.theme-link {
	text-decoration: none;
  	color: inherit;
}

.theme-link:hover {
	color: #b59f5b;
}

.theme-link-count {
	font-size: 12px;
	font-weight: bold;
	color: #b59f5b;
	vertical-align: super;
}
    /* -- стили для правой колонки END .main-additional-info -- */

	/* --  стили для блока "our-products" START  -- */

.our-products-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #0f0d0e;
}

.our-products-title::after {
	content: "";
	display: block;
	margin: 10px auto 0 auto;
	width: 67px;
	border-bottom: 3px solid rgba(181, 159, 91, 0.4);
}

.our-products-posts {
	display: flex;
	justify-content: space-around;
	column-gap: 63px;
}

.our-products-post {
	
	margin-top: 29px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
}

.our-products-post-title {
	margin-top: 30px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #0f0d0e;
}

.our-products-post-text {
	margin-top: 7px;
	font-size: 15px;
	line-height: 1.4;
}

.our-products-post-link {
	color: #b59f5b;
	text-decoration: none;
	
}

.our-products-post-link:hover {
	text-decoration: underline;
}

.our-products-post-link:active, 
.our-products-post-link:visited {
	color: #b59f5b;
}

.our-products-post-text-price {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	
}

.our-products-post-border {
	position: absolute;
	box-sizing: border-box;
	top: -8px;
	left: 0;
	width: 100%;
	height: 105%;
/*	margin: 1px 13px 9px 12px;*/
	outline: 3px solid #b59f5b;
	outline-offset: 22px;
}

.our-products-post-price-link {
	display: flex;
	justify-content: space-between;
    align-items: flex-end;
	margin-top: 23px;
}

.prices {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
}

.prise-old {
	font-size: 14px;
	font-weight: bold;
	text-decoration: line-through;
}

.prise-now {
	font-size: 20px;
	font-weight: bold;
}

.prise-old::after,
.prise-now::after {
	content: " \20BD";
}

.to-bottom {
	align-self: flex-end;
}

.price-hidden { /* блок кода презназначен для скрытия "старой цены",
которая возможно появится*/
	visibility: hidden;
}

.our-products-post-link-to-shop {
	display: block;
	text-align: center;
	padding: 18px 28px;
	background-color: #b59f5b;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
}

.our-products-post-link-to-shop:hover {
	background-color: #323232;
}
	/* --  стили для блока "our-products" END  -- */

/* стили для main END */

/* стили для footer START */

.footer {
	margin-top: 300px;
	margin-bottom: 48px;
}

.social-links-list {
	display: flex;
	flex-wrap: nowrap;
	column-gap: 27px;
	-moz-column-gap: 27px;
	-webkit-column-gap: 27px;
	flex-basis: 100%;
	margin-left: 5px;
	justify-content: center;
	align-items: center;
	height: 82px;
	background-color: #f4f7f6;
}

.social-link-item {
	width: 20px;
}

.copyright {
	margin-top: 70px;
	text-align: center;
}

.copyright-link {
	margin-left: 13px;
	font-size: 12px;
	font-weight: bold;	
	color: #999999;
	text-decoration: none;
}
/* стили для footer END */

/* стили для modal-window START */


.popup-container {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0 , 0, 0.6);
	z-index: 1;
}

.popup-form-feedback {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 26px;
	padding-right: 26px;
	padding-bottom: 50px;
	position: fixed;
	top: 21%;
	left: 50%;
	width: 23%;
	transform: translate(-50%);
	min-width: 250px;
	max-width: 400px;
	background-color: #f3f7f6;
	row-gap: 26px;
}

.popup-form-feedback::after {
	content: "";
	width: 20px;
	height: 20px;
	background-image: url("../svg/form-x.svg");
	background-repeat: no-repeat;
	position: absolute;
	top: -26px;
	right: -3px;
}

.popup-form-feedback-title {
	margin-top: 48px;
	align-self: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 29.15px;
	text-transform: uppercase;	
}

.popup-form-feedback-title::after {
	content: "";
	display: block;
	margin: 5px auto 0 auto;
	width: 67px;
	border-bottom: 3px solid rgba(181, 159, 91, 0.4);
}

.popup-form-feedback-question-visit-site,
.question-subscribed-e-mail,
.popup-form-feedback-question-content {
	width: 100%;
}

.question-visit-site-text,
.question-subscribed-e-mail-text,
.question-content-text {
	font-size: 13px;
	font-weight: 400;
	line-height: 1.4;
	color: #0f0d0e;
}

.select-answer-visit-site {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;

	margin-top: 10px;
	padding: 13px 35px 13px 22px; 
	width: 100%;

	background-image: url("../svg/form-arrows.svg");
	background-repeat: no-repeat;
	background-size: 0.75em;
	background-position: 95% center;
	background-color: #f4f7f6;
	
	color: rgba(15, 13, 14, 0.54);
}

.option-answer-visit-site,
.select-answer-visit-site:hover,
.select-answer-visit-site:focus {
	outline: 1px solid #b59f5b;
}

.select-answer-visit-site:focus-visible {
	outline: none;
	border: none;
}

.question-subscribed-e-mail-text {
	margin-top: 9px;
	margin-bottom: 6px;
}

.answer-subscribed-yes-text::before,
.answer-subscribed-no-text::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 3px;
	background-image: url("../svg/form-empty-circle.svg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 17px;
}

.answer-subscribed-yes,
.answer-subscribed-no {
	display: none;
}

.answer-subscribed-yes-text,
.answer-subscribed-no-text {
	font-size: 13px;
}

.answer-subscribed-yes-text {
	margin-right: 12px;
}

.answer-subscribed-yes:checked + .answer-subscribed-yes-text::before,
.answer-subscribed-no:checked + .answer-subscribed-no-text::before {
	background-image: url("../svg/form-circle.svg");
}

.question-content-text {
	max-width: 95%;
	margin-top: 2px;
	padding-left: 1px;
}

.answer-content-text {
	width: 100%;
	min-height: 120px;
	resize: vertical;
	padding-left: 23px;
}

.answer-content-text {
	margin-top: -6px;
	font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	color: #0f0d0e;
	border: none;
	outline: none;
	background-color: #f4f7f6;
}

.answer-content-text::placeholder,
.answer-content-text::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.54);
}

.answer-content-text:focus {
	outline: 1px solid #b59f5b;
}

.form-button {
	width: 100%;
	height: 50px;
	margin-top: -4px;
	font-size: 14px;
	font-weight: 700;
	line-height: 40px;
	color: #ffffff;
	border: unset;
	outline: unset;
	background-color: #b59f5b;
	text-transform: uppercase;
}

.form-button:hover {
	background-color: #323232;
}

.popup-message-input {
	display: none;
}

.popup-button-text {
	display: block;
	margin: 0 auto 50px;
	padding: 10px;
	width: 150px;
	min-height: 20px;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	color: #ffffff;
	border: unset;
	outline: unset;
	background-color: #b59f5b;
	text-transform: uppercase;
}

.popup-message-input:checked + .popup-container {
	display: block;
}

.popup-message-close {
	position: absolute;
	width: 21px;
	height: 21px;
	top: -27px;
	right: -4px;
	opacity: 0; /* делаю "крестик" прозрачным */ 
	font-size: 36px;
	background-image: url(../svg/form-x.svg);
	z-index: 1;
}

/* стили для modal-window END */

	/* ---+++--- Adaptive START ---+++--- */


	@media screen and (max-width: 640.98px) and (orientation: portrait) { /* до 640px и портретной оиентации - 1 (одна) колонка */
	
		.new-trending-posts {
			flex-direction: column;
		}
	}
	
	@media screen and (max-width: 640.98px) and (orientation: landscape), (min-width: 641px) and (max-width: 1199.98px) and (orientation: portrait) {
		
		.new-trending-posts {
			flex-wrap: wrap;
			gap: 3px;
			justify-content: space-between;
		}
		
		.new-trending-post {
			flex-basis: calc(50% - 3px);
			min-height: 246px;
		}
	}
	


/* ***** стили для Tablet devices 641-1990 START ***** */

@media screen and (max-width: 1199.98px) {

	.header {
		min-height: 394px;
		background-image: url("../images/banner-bg-tablet.jpg");
	}

	.wrapper {
		max-width: 703px;
		padding: 0;
	}

	.logo-image {
		margin: 45px 0 0 3px;
		width: 158px;
		object-fit: cover;
	}
	
	.header-menu {
		display: none;
	}
	
	.burger-label {
		position: absolute;
		right: 34px;
		margin-top: 54px;
		display: block;
	}

	.menu-burger-item:hover {
		width: 25px;
	}

	.header-title {
		margin-top: 87px;
		max-width: 618px;
		font-size: 40px;
		line-height: 1.38;

	}

	.now-trending-title {
		margin-top: 42px;
		margin-bottom: 19px;
		font-size: 18px;
		line-height: 1.61;
	}

	.now-trending-title:after {
		margin-top: 7px;
		width: 65px;
		border-bottom: 2px solid rgba(181, 159, 91, 0.4);
	}

/*	.new-trending-posts {
		justify-content: space-evenly;
		align-items: center;
	}

	/*.new-trending-post {
		min-height: 247px;
	}*/

	.new-trending-post-tags-title {
		padding: 31px 30px 28px;
	}

	.new-trending-post-tag {
		padding-right: 13px;
	}

	.new-trending-post-border {
		margin: -3px -8px 0 -4px;
	}

	.new-trending-post-title-link {
		margin-top: 8px;
		font-size: 17px;
		line-height: 23px;
	}
	
	.main-block {
		margin-top: 0;
		margin-bottom: 4px;
		column-gap: 28px;
		max-width: 698px;
	}

	.main-post-container {
		margin-top: 50px;
		margin-bottom: 62px;
		flex-direction: column;
		flex-basis: 390px;
	}

	.pillow-prints .post-image {
		margin-top: -5px; /*подгонка последнего поста с подушкой */
	}

	.post-wrapper {
		max-width: 410px;
	}
	
	.post-image {
		width: 100%;
		max-width: 393px;
		min-height: 298px;
	}

	.post-tags {
		margin-right: 13px;
	}

	.post-title {
		margin-top: 10px;
		max-width: 400px;
	}
	.post-title-link {	
		font-size: 17px;
		line-height: 22px;
	}

	.post-time {
		margin-top: 19px;
	}

	.post-text {
		margin-top: 16px;
		max-width: 393px;
	}

	.main-additional-info {
		margin-top: 41px;
	}

	.main-additional-info-new-posts {
		margin-bottom: 61px;
	}

	.additional-info-search {
		margin-bottom: 52px;
	}

	.field-search {
		padding-left: 18px;
	}

	.theme-item {
		padding-bottom: 13px;
	}

	.our-products {
		max-width: 655px;
	}

	.our-products-title {
		font-size: 18px;
	}

	.our-products-title::after {
		margin-top: 12px;
	}

	.our-products-posts {
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 23px;
	}

	.our-products-post {
		max-width: 294px;
	}

	.our-products-post-title {
		margin-top: 20px;
		font-size: 17px;
	}
	
	.our-products-post-text-price {
		margin: -3px -9px -5px;
	}
	
} 

/* ***** стили для Tablet devices 641-1990 END ***** */


/* ***** стили для Mobile devices до 640 START ***** */

@media screen and (max-width: 640.98px) {
	.wrapper {
		max-width: 330px;
		padding-left: 15px;
		padding-right: 15px;		
	}

	.header {
		background-image: url("../images/banner-mobile.jpg");
		min-height: 637px;
	}


	.header-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.burger-label {
		margin-top: 29px;
		right: 17px;
	}

	.logo-image {
		margin-top: 223px;
		width: 270px;
	}

	.menu-list {
		column-gap: 10px;
		font-size: 12px;
	}

	.header-title {
		margin-top: 33px;
		margin-left: 5px;
		font-size: 26px;
		line-height: 1.38;
	}

	.now-trending-title {
		margin-top: 39px;
		margin-bottom: 22px;
		font-size: 16px;
	}

	.new-trending-posts {
		gap: 3px;
	}

	.new-trending-post {
		min-height: 232px;
	}

	.new-trending-post-tags-title {
		padding: 34px 20px 32px;
	}

	.new-trending-post-title-link {
		font-size: 16px;
		line-height: 1.25;
	}

	.main-block {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}

	.main-post-container {
		margin-top: 40px;
		margin-bottom: 56px;
	}

	.post-image {
		min-height: 254px;
	}

	.post-wrapper {
		margin-top: 14px;
	}

	.post-title {
		margin-top: 8px;
	}

	.post-title-link {
		font-size: 16px;
		line-height: 1.25;
	}

	.post-time {
		margin-top: 6px;
	}

	.post-text {
		margin-top: 2px;
		font-size: 14px;
		line-height: 1.428;
	}

	.additional-info-search {
		margin-bottom: 39px;
	}

	.form-search {
		max-width: 283px;
	}

	.additional-info-mailing-title {
		font-size: 16px;
	}

	.additional-info-mailing {
		margin-bottom: 34px;
	}

	.additional-info-tags-title {
		font-size: 16px;
	}

	.additional-info-tags {
		margin-bottom: 43px;
	}

	.additional-info-tags-container {
		justify-content: space-between;
		column-gap: 0;
	}

	.additional-info-themes-title {
		margin-left: -5px;
		font-size: 16px;
	}

	.our-products {
		margin-top: 46px;
	}

	.our-products-title {
		font-size: 16px;
	}

	.our-products-post {
		max-width: 294px;
	}

	.our-products-post-text-price {
		outline-offset: 15px;
	}

	.our-products-post-title,
	.our-products-post-text,
	.our-products-post-price-link {
		padding-left: 4px;
	}

	.our-products-post-link-to-shop {
		padding-left: 27px;
		padding-right: 32px;
	}

	.footer {
		margin-top: 100px;
	}

	.social-links-list {
		height: 23px;
	}

	.copyright {
		margin-top: 74px;
	}
}

/* ***** стили для Mobile devices до 640 END ***** */


	/* ---+++--- Adaptive END ---+++--- */
