/* подключение шрифтов START  */
@font-face {
	font-family: "OpenSans";
	src: 
		url("../fonts/OpenSans-Regular.woff2") format("woff2"),
		url("../fonts/OpenSans-Regular.woff") format("woff"),
		url("../fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: 
		url("../fonts/OpenSans-Bold.woff2") format("woff2"),
		url("../fonts/OpenSans-Bold.woff") format("woff"),
		url("../fonts/OpenSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
/* подключение шрифтов END  */

/* сброс стилей по умолчанию START */
html, body, div, span, h1, h2, h3, p, a, address, 
img, sub, sup, ol, ul, li, form, label, article, 
aside,figure, figcaption, footer, header, menu, 
nav, section, time {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, figcaption, figure, footer, 
header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

*, *::after, *::before{
	box-sizing: inherit;
}
/* сброс стилей по умолчанию END */

/* общие стили для проекта START */
html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	color: #0f0d0e;
}

.wrapper {
	box-sizing: border-box;
	max-width: 1200px;
	padding: 0 15px 0;
	margin: 0 auto;
}
/* общие стили для проекта END */

/* стили для head START */
.header {
	position: relative;
 	margin: 0 auto;
	width: 100%;
	min-height: 452px;
	background-image: url("../images/banner-bg.jpg");
      /*  Для растягивания картинки при увеличении контента в заголовке можно разрешить повторение по высоте - тут repeat-y;*/
	background-repeat: no-repeat; 
	background-position: center top;
     /* Для растягивания картинки при увеличении контента в заголовке выбрал этот вариантbackground-size: cover;*/ 
  background-size: cover;
	background-color: #43625c;
	z-index: 1;
}

.header::before {
	position: absolute;
	content: "";
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
	background-color: rgba(0, 0 , 0, 0.6);
	z-index: -1;
}  

.header-container {
	display: flex;
	justify-content: space-between;
}

.logo-image {
	margin: 30px 0 0 3px;
	width: 179px;
}

.header-menu {
	margin-top: 43px;
}

.menu-list {
	display: flex;
	column-gap: 35px;
	-moz-column-gap: 35px;
	-webkit-column-gap: 35px;
}

.menu-item {
	list-style-type: none;
}

.menu-item-link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
	color: #ffffff;
}

.menu-item:hover {
	text-decoration: underline;
}

.header-title {
	max-width: 687px;
	margin: 103px auto 0 auto;
	text-align: center;
	font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
	font-weight: bold;
	font-style: normal;
	color: #ffffff;
	font-size: 45px;
	line-height: 1.67;
	text-transform: uppercase;
} 
/* стили для head END */

/* стили для main START */
.main-block {
	margin-top: 4px;
	margin-bottom: 63px;
	display: flex;
	justify-content: flex-start;
	column-gap: 118px;
	-moz-column-gap: 118px;
	-webkit-column-gap: 118px;
}

/* -- стили для блока "сейчас в тренде" START -- */

.main-now-trending {
	min-height: 308px;
	
}

.now-trending-title {
	margin-top: 61px;
	margin-bottom: 28px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;	
}

.now-trending-title:after {
	content: "";
	display: block;
	margin: 11px auto 0 auto;
	width: 67px;
	border-bottom: 3px solid rgba(181, 159, 91, 0.4);
}

.new-trending-posts {
	display: flex;
	height: 100%;
	column-gap: 7px;
	-moz-column-gap: 7px;
	-webkit-column-gap: 7px;
}

.new-trending-post {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-basis: 25%;
	flex-shrink: 1;
	position: relative;
	min-height: 320px;
	padding: 15px 25px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #43625c;
}

.new-trending-post::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color: #000000;
	opacity: 0.6;*/
	background-color: rgba(0, 0 , 0, 0.6);
	z-index: 0;
}

.first-trend {
	background-image: url("../images/trend1.jpg");
}

.second-trend {
	background-image: url("../images/trend2.jpg");
}

.third-trend {
	background-image: url("../images/trend3.jpg");
}

.fourth-trend {
	background-image: url("../images/trend4.jpg");
}

.new-trending-post-tags-title {
	box-sizing: border-box;
	padding: 33px;
	border: 3px solid rgba(181, 159, 91, 0.6);
	z-index: 1;
}

.new-trending-post-tag {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: #b59f5b;
	padding-right: 16px; /* раздвижение слов в тегах блока "Тренды"*/
}

.new-trending-post-title-link {
	display: block;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
}

/* -- стили для блока "сейчас в тренде" END -- */

    /* -- стили для левой колонки START	main-posts -- */
.main-post-container {
	margin-top: 60px;
	display: flex;
	flex-basis: 778px;
	column-gap: 30px;
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
}

.post-image {
	width: 381px;
	min-height: 294px;
	object-fit: contain;
  background-color: #cecece;
}

.post-wrapper {
	max-width: 370px;
}

.post-tags {
	margin-right: 15px;
	vertical-align: top;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #b59f5b;
}

.post-tags:hover {
	color: #b59f5b;
	text-decoration: underline;
}

.post-title {
	margin-top: 7px;
	max-width: 335px;
}

.post-title-link {	
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	color: #0f0d0e;
}

.post-title-link:hover {
	color: #b59f5b;
}

.post-time {
	display: block;
	margin-top: 16px;
	font-size: 12px;
	line-height: 40px;
	font-weight: 400;
	color: #888888;
}

.post-author {
	margin-left: 9px;
	color: #000000;
	font-weight: bold;
}

.post-text {
	margin-top: 34px;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.46;
	color: #0f0d0e;
}
		/* этот класс введен для соответствия макету.
		Предполагаю, что тут надо пообщаться с дизайнером,
		чтобы решить вопрос с несоответствием промежутков 
		между строками в одном текте поста. */

.necessary-interval-after {
	display: inline-block;
	margin-top: 9px;
}
    /* -- стили для левой колонки END .main-posts -- */

		/* -- стили для правой колонки START .main-additional-info -- */
.main-additional-info {
	margin-top: 50px;
	flex-basis: 270px;
}

.main-additional-info-new-posts {
	margin-bottom: 58px;
}
		
.main-additional-info-title {
	text-align: center;
	margin:0 auto 28px 6px;
	font-weight: bold;
	font-size: 14px;
	line-height: 29.15px;
	text-transform: uppercase;
	color: #0f0d0e;
}

.main-additional-info-title::after {
	content: "";
	display: block;
	margin: 6px auto 0 auto;
	width: 67px;
	border-bottom: 3px solid rgba(181, 159, 91, 0.4);
}

.additional-info-new-post {
	margin-bottom: 22px;
	display: flex;
	column-gap: 19px;
	-moz-column-gap: 19px;
	-webkit-column-gap: 19px;
}

.new-post-image {
	width: 70px;
	height: 70px;
	object-fit: contain;
  background-color: #cecece;
}

.new-post-date {
	display: block;
	font-size: 12px;
	font-weight: normal;
	text-transform: lowercase;
	color: rgba(0, 0, 0, 0.54);
}

.new-post-title-text {
	margin-top: 3px;
}

.new-post-title-link {
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

.new-post-title-link:hover {
	color: #b59f5b;
}

.additional-info-search {
	margin-bottom: 54px;
}

.form-search {
	position: relative;
	max-width: 223px;
	min-width: 90px;
}

.field-search {
	width: 100%;
	min-height: 20px;
	height: 48px;
	padding-left: 19px;
	background-color: #f3f7f5;
	outline: none;
	border: unset;
}

.field-search:focus {
	border: 1px solid #b59f5b;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0 0 0 0 );
}

.search-button {
	position: absolute;
	top: 0;
	right: -48px;
	width: 48px;
	height: 48px;
	border: unset;
	background-color: #b59f5b;
	background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: center center;
	font-size: 3px; /* для уменьшения контура обводки поля при 
						переходе на это поле по "Tab" на странице */
}

.search-button:hover {
	background-color: #323232;
}
.additional-info-mailing {
	margin-bottom: 50px;
}

.additional-info-mailing-title {
	text-align: center;
	margin-right: 6px;
	margin-bottom: 22px;
	font-size: 14px;
	line-height: 29.15px;
	font-weight: bold;
	color: #0f0d0e;
	text-transform: uppercase;
}

.additional-info-mailing-title::after {
	content: "";
	display: block;
	margin: 4px auto 0 auto;
	width: 67px;
	border-bottom: 3px solid rgba(181, 159, 91, 0.4);
}

.mailing-field {
	padding-left: 18px;
	margin-bottom: 17px;
	width: 100%;
	height: 50px;
	border: unset;
	outline: unset;
	background-color: #f3f7f5;
}

.mailing-field:focus {	
	border: 1px solid #b59f5b;
}

.mailing-button {
	width: 100%;
	height: 50px;
	font-size: 14px;
	font-weight: 700;
	line-height: 40px;
	color: #ffffff;
	border: unset;
	outline: unset;
	background-color: #b59f5b;
	text-transform: uppercase;
}

.mailing-button:hover {
	background-color: #323232;
}

.additional-info-tags {
	margin-bottom: 59px;
}

.additional-info-tags-title {
	margin-bottom: 24px;
	text-align: center;
	font-size: 14px;
	line-height: 29.15px;
	font-weight: bold;
	color: #0f0d0e;
	text-transform: uppercase;
}

.additional-info-tags-title::after {
	content: "";
	display: block;
	margin: 5px auto 0 auto;
	width: 67px;
	border-bottom: 3px solid rgba(181, 159, 91, 0.4);
}

.additional-info-tags-container {
	display: flex;
	flex-wrap: wrap;
	column-gap: 8px;
	-moz-column-gap: 8px;
	-webkit-column-gap: 8px;
	row-gap: 5px;	
}

.tag-item {
	padding: 8px 13px 5px;
	border: 3px solid #eeeeee;
	font-size: 12px;
	font-weight: bold;
	color: #0f0d0e;
	text-transform: uppercase;
}

.tag-link {	
	text-decoration: none;
  color: inherit;
}

.tag-item:hover {
	color: #000000;
	border: 3px solid #b59f5b;
}

.additional-info-themes-title {
	margin: 0 auto 23px 5px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #0f0d0e;
	text-transform: uppercase;
}

.additional-info-themes-title::after {
	content: "";
	display: block;
	margin: 12px auto 0 auto;
	width: 67px;
	border-bottom: 3px solid rgba(181, 159, 91, 0.4);
}
		
.additional-info-themes-container {
	display: flex;
	flex-direction: column;
	row-gap: 15px;	
}

.theme-item {
	padding-bottom: 11px;
	border-bottom: 1px solid #eeeeee ;
	font-size: 14px;
	font-weight: bold;
	color: #0f0d0e;
}

.theme-link {
	text-decoration: none;
  color: inherit;
}

.theme-link:hover {
	color: #b59f5b;
}

.theme-link-count {
	font-size: 12px;
	font-weight: bold;
	color: #b59f5b;
	vertical-align: super;
}
    /* -- стили для правой колонки END .main-additional-info -- */

	/* --  стили для блока "our-products" START  -- */

.our-products-title {
	margin-bottom: 29px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #0f0d0e;
}

.our-products-title::after {
	content: "";
	display: block;
	margin: 10px auto 0 auto;
	width: 67px;
	border-bottom: 3px solid rgba(181, 159, 91, 0.4);
}

.our-products-posts {
	display: flex;
	justify-content: space-around;
	column-gap: 63px;
	-moz-column-gap: 63px;
	-webkit-column-gap: 63px;
}

.our-products-post {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
/*	padding-left: 22px;
	padding-right: 22px; */
}

.our-products-post-title {
	margin-top: 22px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #0f0d0e;
}

.our-products-post-text {
	margin-top: 7px;
	font-size: 15px;
	line-height: 1.4;
}

.our-products-post-link {
	color: #b59f5b;
	text-decoration: none;
	
}

.our-products-post-link:hover {
	text-decoration: underline;
}

.our-products-post-link:active, 
.our-products-post-link:visited {
	color: #b59f5b;
}

.our-products-post-text-price {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	outline: 3px solid #b59f5b;
	outline-offset: 32px;
}

.our-products-post-price-link {
	display: flex;
	justify-content: space-between;
    align-items: flex-end;
	margin-top: 23px;
}

.prices {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
}

.prise-old {
	font-size: 14px;
	font-weight: bold;
	text-decoration: line-through;
}

.prise-now {
	font-size: 20px;
	font-weight: bold;
}

.prise-old::after,
.prise-now::after {
	content: " \20BD";
}

.to-bottom {
	align-self: flex-end;
}

.price-hidden {
	position: absolute;
	width: 0;
	height: 0;
	margin: -1px;
	padding: 0;
	clip: rect(0 0 0 0);
}

.our-products-post-link-to-shop {
	display: block;
	text-align: center;
	padding: 18px 26px;
	background-color: #b59f5b;
	text-transform: uppercase;
	text-decoration: none;/*
	letter-spacing: 0.8px;*/
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
}

.our-products-post-link-to-shop:hover {
	background-color: #323232;
}
	/* --  стили для блока "our-products" END  -- */

/* стили для main END */

/* стили для footer START */

.footer {
	margin-top: 94px;
	margin-bottom: 48px;
}

.social-links-list {
	display: flex;
	flex-wrap: nowrap;
	column-gap: 27px;
	-moz-column-gap: 27px;
	-webkit-column-gap: 27px;
	flex-basis: 100%;
	margin-left: 5px;
	justify-content: center;
	align-items: center;
	height: 82px;
	background-color: #f4f7f6;
}

.social-link-item {
	width: 20px;
}

.copyright {
	margin-top: 70px;
	text-align: center;
}

.copyright-link {
	margin-left: 13px;
	font-size: 12px;
	font-weight: bold;	
	color: #999999;
	text-decoration: none;
}
/* стили для footer END */